{% extends 'YodaEventBundle::layout.html.twig' %}

{% block body %}

    <section class="event-show">
        <header id="menu">
            <a class="link" href="{{ path('event') }}">&larr; back to the events list</a>
        </header>

        <article>
            <header class="map-container">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ entity.location | url_encode }}&markers=color:red%7Ccolor:red%7C{{ entity.location | url_encode }}&zoom=14&size=300x300&maptype=roadmap&sensor=false" />
            </header>
            <section>
                {% if(app.user == entity.owner) %}
                    <h1>
                        {{ entity.name }}
                        <a class="button" href="{{ path('event_edit', {'slug': entity.slug}) }}">edit</a>
                    </h1>
                {% endif %}
                <dl>
                    <dt>where:</dt>
                    <dd>{{ entity.location }}</dd>

                    <dt>owner:</dt>
                    <dd>{{ entity.owner.username }}</dd>

                    <dt>when:</dt>
                    <dd>{{ entity.time | date('g:ia / l M j, Y') }}</dd>

                    <dt>what:</dt>
                    <dd>{{ entity.details }}</dd>

                    <dt>who:</dt>
                    <dd>
                        {{ entity.attendees | length}} attending|

                        <ul class="users">
                            {% for attendee in entity.attendees %}
                                {{ attendee.username }}
                            {% else %}
                                <li>RSVP!</li>
                            {% endfor %}
                        </ul>

                        {% if(entity.hasAttendee(app.user)) %}
                            <a href="{{ path('event_unattend', {id: entity.id}) }}" class="btn btn-success btn-xs js-attend-toggle">
                                Unattend!
                            </a>
                        {% else %}
                            <a href="{{ path('event_attend', {id: entity.id}) }}" class="btn btn-success btn-xs js-attend-toggle">
                                Attend!
                            </a>
                        {% endif %}
                    </dd>
                </dl>
            </section>
        </article>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $('.js-attend-toggle').on('click', function(e) {
                // prevents the browser from "following" the link
                e.preventDefault();

                var $anchor = $(this);
                var url = $(this).attr('href')+'.json';

                $.post(url, null, function(data) {
                    if (data.attending) {
                        var message = 'See you there!';
                    } else {
                        var message = 'We\'ll miss you!';
                    }

                    $anchor.after('<span class="label label-default">&#10004; '+message+'</span>');
                    $anchor.hide();
                });
            });
        });
    </script>
{% endblock %}